*{
    box-sizing: border-box;
}
body{
    color: #fff;
    background-color: #192a56;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}
h1{
    font-size: 50px;
    margin: 0;
}
p{
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    margin: 0;

}