* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

}

.background {
    background-image: url("./next-academy-G6k_uEjXygE-unsplash.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    filter: blur(20px);
    z-index: -1;
}

#pass:focus, #email:focus {
    outline: 0;
}
